<div class="container mt-5">
    <h2 class="text-center mb-4"><i class="fas fa-edit"></i> Update Hotel</h2>
    <form (ngSubmit)="updateRoom()">
        
        <img [src]="'http://localhost:8080/images/room/' + rooms.image" class="card-img-top my-1" alt="{{ rooms.roomType }}">

        
        <div class="mb-3">
            <label for="roomType" class="form-label"><i class="fas fa-hotel"></i> roomType</label>
            <input type="text" class="form-control" id="roomType" name="roomType" [(ngModel)]="rooms.roomType" placeholder="Enter hotel roomType" required>
        </div>

   
        <div class="mb-3">
            <label for="price" class="form-label"><i class="fas fa-map-marker-alt"></i> price</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)]="rooms.price" placeholder="Enter address" required>
        </div>

       
        <div class="mb-3">
            <label for="area" class="form-label"><i class="fas fa-money-bill-alt"></i> area</label>
            <input type="number" class="form-control" id="area" name="area" [(ngModel)]="rooms.area" placeholder="Enter max price" required>
        </div>

      
        <div class="mb-3">
            <label for="adultNo" class="form-label"><i class="fas fa-money-bill-alt"></i>adultNo</label>
            <input type="number" class="form-control" id="adultNo" name="adultNo" [(ngModel)]="rooms.adultNo" placeholder="Enter min price" required>
        </div>

      
        <div class="mb-3">
            <label for="childNo" class="form-label"><i class="fas fa-star"></i> childNo</label>
            <input type="number" class="form-control" id="childNo" name="childNo" [(ngModel)]="rooms.childNo" placeholder="Enter rating" required>
        </div>

        <div class="mb-3">
            <label for="avilability" class="form-label"><i class="fas fa-star"></i> Availability</label>
            <input type="checkbox" id="avilability" name="avilability" [(ngModel)]="rooms.avilability">
        </div>

       
        <div class="mb-3">
            <label for="hotel" class="form-label"><i class="fas fa-map-marker-alt"></i> hotel</label>
            <select class="form-select" id="hotel" [(ngModel)]="rooms.hotel" name="hotel" required>
                <option *ngFor="let loc of hotel" [ngValue]="loc">{{ loc. name}}</option>
            </select>
        </div>

     
        <div class="mb-3">
            <label for="image" class="form-label"><i class="fas fa-image"></i> Image</label>
            <input type="file" class="form-control" id="image" (change)="onImageSelected($event)">
        </div>

        <button type="submit" class="btn btn-primary">Update Room</button>
    </form>
</div>



