<body>
    <div class="container mt-5">
        <h2 class="mb-4">
            <i class="fas fa-hotel"></i> Update Hotel Details
        </h2>

        <form [formGroup]="hotelForm" (ngSubmit)="updateHotel()">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="image" class="form-label">
                        <i class="fas fa-building"></i> Hotel image
                    </label>
                    <input type="text" class="form-control" id="image" formControlName="image"
                        placeholder="Enter hotel name">


                    <label for="hotelname" class="form-label">
                        <i class="fas fa-building"></i> Hotel Name
                    </label>
                    <input type="text" class="form-control" id="name" formControlName="name"
                        placeholder="Enter hotel name">

                    <label for="address" class="form-label">
                        <i class="fas fa-map-marker-alt"></i> Address
                    </label>
                    <input type="text" class="form-control" id="address" formControlName="address"
                        placeholder="Enter hotel address">

                    <label for="rating" class="form-label">
                        <i class="fas fa-map-marker-alt"></i> rating
                    </label>

                    <input type="text" class="form-control" id="rating" formControlName="rating"
                        placeholder="Enter hotel rating">



                        <label for="minPrice" class="form-label">
                            <i class="fas fa-map-marker-alt"></i> minPrice
                        </label>
    
                        <input type="text" class="form-control" id="minPrice" formControlName="minPrice"
                            placeholder="Enter hotel minPrice">



                            <label for="maxPrice" class="form-label">
                                <i class="fas fa-map-marker-alt"></i> maxPrice
                            </label>
        
                            <input type="text" class="form-control" id="maxPrice" formControlName="maxPrice"
                                placeholder="Enter hotel maxPrice">



                    <label for="location" class="form-label">
                        <i class="fas fa-map-marker-alt"></i> Location Name
                    </label>
                    <select id="location" formControlName="location" class="form-select">
                        <option *ngFor="let loc of locations" [ngValue]="loc">{{ loc.name }}</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Update Hotel
            </button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->


</body>


