<div class="container d-flex justify-content-center align-items-center min-vh-100 mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="card md-4 m-1" style="width: 18rem;" *ngFor="let h of hotels; let i = index">
                <img [src]="'http://localhost:8080/images/hotel/' + h.image" class="card-img-top my-1"
                    alt="{{ h.name }}">

                <div class="card-body">
                    <h5 class="card-title">Name: {{h.name }}</h5>
                    <p class="card-text">Address: {{ h.address}}</p>
                    <fa-icon
                    [icon]="i < rating ? faStarSolid : faStarRegular"
                    (click)="rate(i + 1)"
                    class="star"
                  ></fa-icon>
                    <p class="card-text">Price: BDT {{h.minPrice}}- BDT {{h.maxPrice}}</p>
                    <p class="card-text">Location: {{ h.location.name}}</p>


                    <button class="btn theme_btn button_hover"(click)="viewRooms(h.id)">View</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
